{% if page.commentslug %}
  <section class="comments">
    <h2>Comments</h2>

<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<div id="cactus-comment-section">
	waiting ...
<noscript>This website uses <a href=https://cactus.chat>cactus.chat</a>, a comment system written in Javascript. It appears that Javascript is disabled or not working on your browser. You can go to <a href="https://matrix.to/#/#comments_karmanyaah.malhotra.cc_{{page.commentslug}}:malhotra.cc">#comments_karmanyaah.malhotra.cc_{{page.commentslug}}:malhotra.cc</a> on Matrix to comment.</noscript>
</div>

<script>
	setTimeout(function() {
  	initComments({
                node: document.getElementById("cactus-comment-section"),
                defaultHomeserverUrl: "https://matrix.malhotra.cc",
                serverName: "malhotra.cc",
                siteName: "karmanyaah.malhotra.cc",
                commentSectionId: "{{ page.commentslug }}",
                loginEnabled: false,
              }) ;
	}, 5000);
</script>
  </section>

{% endif %}
