<head>
  <meta charset="utf-8" />
  <!-- multi-device width -->
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <!-- site description -->
  {% if page.excerpt %}
  {% assign desc = page.excerpt | strip_html |
  strip_newlines | truncate: 160 %}
  {% else %}
  {% assign desc = site.description
  %}
  {% endif %}
  <meta content="{{ desc }}" name="description" />
  <!-- referer for 3rd-part images-->
  <meta content="no-referrer" name="referrer" />
  <!-- title -->
  <title>
    {% if page.title %}
    {{ page.title | escape }}
    {% else %}
    {{ site.title | escape }}
    {% endif %}
  </title>
  <!-- icon -->
  <link href="{{site.baseurl}}{{site.assets_path}}/img/logo/isolated-monochrome-white.svg" rel="shortcut icon bookmark"
    type="image/x-icon" />
  <!-- main stylesheet -->
  <link rel="stylesheet" href="{{site.baseurl}}{{site.assets_path}}/css/first.css" type="text/css" />

  <!-- rouge theme-->
  <link rel="preload" href="{{site.baseurl}}{{site.assets_path}}/css/later.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{site.baseurl}}{{site.assets_path}}/css/later.css"></noscript>
  <!--link rel="stylesheet" href="/assets/css/mystyles.css"-->
  {% include headjs.html %}
  {% seo %}


</head>