header /ipfs/* Cache-Control "immutable,max-age=31536000"
header /ipfs/* -date
header /ipfs/* -etag
header /ipfs/* -vary
header /ipfs/* -last-modified

reverse_proxy /count https://kar.goatcounter.com {
	header_up Host kar.goatcounter.com
	header_up X-Real-IP {remote_host}
}
